.header {
    background-color: $white;
    padding: 15px 0;
    border-bottom: 1px solid #E9EDF1;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__logo {
            margin-left: 50px;

            @include breakpoint($tabletS) {
                margin-left: 0;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &__nav {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 10;
            top: -100vh;
            left: -20px;
            width: 100vw;
            height: calc(100vh - 63px);
            background-color: $color-accent;
            transition: 0.3s linear 0s all;
            overflow: hidden;
            padding: 0 10px;

            @include breakpoint($tabletS) {
                position: static;
                height: auto;
                padding: 0;
                max-width: 352px;
                width: 100%;
                background-color: inherit;
                opacity: 1;
                visibility: visible;
            }

            .menu__list {
                border-bottom: 1px solid #ECB200;

                @include breakpoint($tabletS) {
                    border-bottom: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .menu__item {
                    margin-top: 20px;
                    color: $color-brown;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    text-transform: uppercase;
                    
                    @include breakpoint($tabletS) {
                        margin-top: 0;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .menu__link {
                    text-decoration: none;
                    color: inherit;
                }

                .menu__item:first-child {
                    margin-top: 0;
                }
            }

            .feedback__list {
                border-bottom: 1px solid #ECB200;

                @include breakpoint($tabletS) {
                    display: none;
                }

                .feedback__item {
                    margin-top: 15px;
                    color: #5A1404;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .feedback__link {
                    text-decoration: none;
                    color: inherit;
                }

                .feedback__item:first-child {
                    margin-top: 0;
                }
            }

            .menu-social {
                padding: 25px 10px;

                @include breakpoint($tabletS) {
                    display: none;
                }

                &__title {
                    font-size: 14px;
                    line-height: 21px;
                    color: #5B1A0D;
                    margin: 0 0 11px 0;
                }

                .social {
                    display: flex;
                    align-items: center;

                    &__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .social__link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #ECB200;
                            border-radius: 5px;
                            width: 32px;
                            height: 32px;
                            margin-right: 10px;
                            transition: 0.3s all ease;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }

            .header__list {
                padding: 25px 10px;

                @include breakpoint($tabletS) {
                    padding: 0;
                }
            }
        }

        &__nav.toggled {
            opacity: 1;
            visibility: visible;
            top: 48px;
        }


        .burger {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
            padding: 5px;
            transition: 0.3s ease 0s transform;
            cursor: pointer;

            @include breakpoint($tabletS) {
                display: none;
            }

            &__line {
                width: 23px;
                height: 3px;
                background-color: $color-brown;
                border-radius: 2px;
                transition: 0.3s ease 0s transform;

                &:nth-child(2) {
                    margin: 4px 0;
                }
            }

            &.toggled {
                .burger__line:first-child {
                    transform: translateY(7px) rotate(-45deg);
                }
                
                .burger__line:nth-child(2) {
                    transform: translateX(-32px);
                }

                .burger__line:last-child {
                    transform: translateY(-7px) rotate(45deg);
                }
            }
        }

        .sign {
            display: flex;

            &__in {
                &--yellow {
                    text-align: center;

                    .sign__in-btn {
                        display: block;
                        width: 78px;
                        height: 32px;
                        border-radius: 29px;
                        border: 1px solid $color-accent;
                        background-color: $color-accent;
                        text-transform: uppercase;
                        color: $color-brown;
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 500;
                        text-decoration: none;
                        transition: 0.2s all ease;

                        &:hover {
                            background-color: $white;
                        }
                    }
                }
            }

            &__up {
                display: none;

                @include breakpoint($tabletS) {
                    display: block;
                    margin-left: 17px;

                    &-btn {
                        text-transform: uppercase;
                        color: $color-brown;
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 500;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}